#!/bin/sh


CADIR="{{ certificates_ca_key_dir }}"

cd "${CADIR}"

gen_crl () {
  # regenerate the certificate revocation list
  openssl ca -gencrl -config ca.conf -out ca-crl.pem
}

revoke () {
  # revoke a client certificate
  openssl ca -config ca.conf -revoke "${1}"
}

gen_crl

if [ "${1}" ]; then
  revoke "${1}"
  gen_crl
fi
